<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="BlogDbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Blog;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
